<html>

    <head>
        <link href="../bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <h3>Controller</h3>
        <form method="post" action="/">
            <div class="container">

                <table class="table table-borderless">
                    <tr>
                        <td></td>
                        <td><input type="submit" value="&#8593" name="avanti" class="col-md-6" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="&#8592" name="sinistra" class="col-md-6" /></td>
                        <td></td>
                        <td><input type="submit" value="&#8594" name="destra" class="col-md-6" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="&#8595" name="indietro" class="col-md-6" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="stop" name="stop" class="col-md-6" /></td>
                    </tr>
                </table>
            </div>

        </form>
    </body>

</html>