<html>

    <head>
        <link href="../static/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <h3 class="d-flex justify-content-center">Controller</h3>
        <form method="post" action="/">
            <div class="container">

                <table class="table table-borderless">
                    <tr>
                        <td></td>
                        <td><input type="submit" value="&#8593" name="avanti" class="col-md-6" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="&#8592" name="sinistra" class="col-md-6" /></td>
                        <td></td>
                        <td><input type="submit" value="&#8594" name="destra" class="col-md-6" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="&#8595" name="indietro" class="col-md-6" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="stop" name="stop" class="col-md-6" /></td>
                    </tr>
                </table>
            </div>
            <hr>
        <div class=" container  align-items-center col">
            <label for="inputQuery">First name:</label>
            <input type="text" name="inputQuery">
        </div>

        </form>
    </body>

</html>